<div class="first__container">
  <!--==================== HEADER ====================-->

  <header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="">
        <img class="logo" src="assets/images/logo1.png" alt="" />
      </a>
      <a href="#" class="nav__name">
        <span>MorArtist</span>
      </a>
      <div class="nav__menu" id="nav-menu" [ngClass]="{ show__menu: showMenu }">
        <ul class="nav__list grid">
          <li class="nav__item">
            <a href="#home" class="nav__link active-link">
              <i class="uil uil-estate nav__icon"></i> Home
            </a>
          </li>
          <li class="nav__item">
            <a href="#catalog" class="nav__link">
              <i class="uil uil-invoice nav__icon"></i> Catalog
            </a>
          </li>
          <li class="nav__item">
            <a href="#prices" class="nav__link">
              <i class="uil uil-message nav__icon"></i> Prices
            </a>
          </li>
          <li class="nav__item">
            <a href="#steps" class="nav__link">
              <i class="uil uil-message nav__icon"></i> Steps
            </a>
          </li>
          <li class="nav__item">
            <a href="#contactus" class="nav__link">
              <i class="uil uil-message nav__icon"></i> ContactUs
            </a>
          </li>

          <li class="nav__item">
            <a href="#about" class="nav__link">
              <i class="uil uil-scenery nav__icon"></i> About
            </a>
          </li>
        </ul>
        <i
          class="uil uil-times nav__close"
          id="nav-close"
          (click)="showMenu = !showMenu"
        ></i>
      </div>

      <div class="nav__btns">
        <div class="nav__toggle" id="nav-toggle" (click)="showMenu = !showMenu">
          <i class="uil uil-apps"></i>
        </div>
      </div>
    </nav>
  </header>
  <!--==================== MAIN ====================-->
  <main class="main">
    <!--==================== HOME ====================-->
    <section class="home section" id="home">
      <div class="home__container container" id="grid">
        <div class="home__content grid">
          <!-- social media -->
          <div class="home__social">
            <a href="https://www.instagram.com/morartist_portraits/"  target="_blank" class="home__social-icon">
              <i class="uil uil-instagram"></i>
            </a>
            <a href="https://web.facebook.com/profile.php?id=100084967522574"  target="_blank" class="home__social-icon">
              <i class="uil uil-facebook-f"></i>
            </a>
          </div>

          <div class="home__img">
            <svg
              class="home__blob"
              viewBox="0 0 200 187"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <mask id="mask0" mask-type="alpha">
                <path
                  d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                    130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                    97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                    0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
                />
              </mask>
              <g mask="url(#mask0)">
                <path
                  d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                    165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                    129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                    -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
                />
                <image class="home__blob-img" href="assets/images/IMG_1.jpg" />
              </g>
            </svg>
          </div>

          <div class="home__data">
            <h1 class="home__title">MorArtist is here</h1>
            <h3 class="home__subtitle">The Best Portrait Workshop</h3>
            <p class="home__description">
              send us a photo and get a sketch of your portrait on canvas.
            </p>
            <a href="#contactus" class="button button--flex">
              Contact Us <i class="uil uil-message button__icon"></i>
            </a>
          </div>
        </div>

        <div class="home__scroll">
          <a href="#catalog" class="home__scroll-button button--flex">
            <i class="uil uil-mouse-alt home__scroll-mouse"></i>
            <span class="home__scroll-name">see the catalog</span>
            <i class="uil uil-arrow-down"></i>
          </a>
        </div>
      </div>
    </section>

    <!--==================== ABOUT ====================-->
    <!-- <section class="about section" id="about">
      <h2 class="section__title">About Me</h2>
      <span class="section__subtitle">My introduction</span>
      <div class="about__container container grid">
        <img src="assets/images/IMG_1.jpg" alt="" class="about__img" />
        <div class="about__data">
          <p class="about__description">
            Web developer, with extensive knowled experience, working in web
            technologies and Ui / Ux design
          </p>
          <div class="about__info">
            <div>
              <span class="about__info-title">08+</span>
              <span class="about__info-name"
                >Years <br />
                experience</span
              >
            </div>
            <div>
              <span class="about__info-title">20+</span>
              <span class="about__info-name"
                >Completed <br />
                project</span
              >
            </div>
            <div>
              <span class="about__info-title">08+</span>
              <span class="about__info-name"
                >companies <br />
                worked</span
              >
            </div>
          </div>

          <div class="about__buttons">
            <a download="" href="" class="button button--flex">
              Download CV<i class="uil uil-download-alt button__icon"></i>
            </a>
          </div>
        </div>
      </div>
    </section> -->

    <!--==================== catalog  ====================-->
    <section class="catalog section" id="catalog">
      <h2 class="section__title">Catalog</h2>
      <span class="section__subtitle"></span>
      <div class="catalog__container container">
        <div class="catalog__tabs">
          <div
            class="catalog__button button--flex catalog__active"
            data-target="#photo-canvas"
          >
            photo on canvas
          </div>
          <div class="catalog__button button--flex" data-target="#collage">
            collage
          </div>
          <!-- <div class="catalog__button button--flex" data-content id="writhings">
            writhings
          </div> -->
        </div>
        <div class="catalog__sections">
          <!-- ========= ======= catalog CONTENT 1 ======== =========-->
          <div
            class="catalog__content catalog__active"
            data-content
            id="photo-canvas"
          >
            <div class="catalog__data">
              <swiper [config]="config">
                <!-- ======= ========== slid 1 ==================== -->
                <ng-template swiperSlide>
                  <div class="slid__content grid">
                    <div class="img__container">
                      <img
                        src="assets/images/IMG_1.jpg"
                        alt=""
                        class="slid__img"
                      />
                    </div>
                    <!-- <div class="slid__data">
                      <h3 class="slid__title">Modern Website</h3>
                      <p class="slid__description">
                        Website adaptable to all devices, with and animated
                        interactions.
                      </p>
                      <a
                        href="#"
                        class="button button--flex button--small slid__button"
                      >
                        Demo
                        <i class="uil uil-arrow-right button_icon"></i>
                      </a>
                    </div> -->
                  </div>
                </ng-template>
                <!-- ======= ========== slid 2 ==================== -->
                <ng-template swiperSlide>
                  <div class="slid__content grid">
                    <div class="img__container">
                      <img
                        src="assets/images/IMG_1.jpg"
                        alt=""
                        class="slid__img"
                      />
                    </div>
                  </div>
                </ng-template>
                <!-- ======= ========== slid 3 ==================== -->
                <ng-template swiperSlide>
                  <div class="slid__content grid">
                    <div class="img__container">
                      <img
                        src="assets/images/IMG_1.jpg"
                        alt=""
                        class="slid__img"
                      />
                    </div>
                  </div>
                </ng-template>
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                  <i class="uil uil-angle-right-b swiper-slid-icon"></i>
                </div>
                <div class="swiper-button-prev">
                  <i class="uil uil-angle-left-b swiper-slid-icon"></i>
                </div>
              </swiper>
            </div>
          </div>

          <!-- ========= ======= catalog CONTENT 2 ======== =========-->
          <div class="catalog__content" data-content id="collage">
            <div class="catalog__data">
              <swiper [config]="config">
                <!-- ======= ========== slid 1 ==================== -->
                <ng-template swiperSlide>
                  <div class="slid__content grid">
                    <div class="img__container">
                      <img
                        src="assets/images/IMG_2.webp"
                        alt=""
                        class="slid__img"
                      />
                    </div>
                  </div>
                </ng-template>
                <!-- ======= ========== slid 2 ==================== -->
                <ng-template swiperSlide>
                  <div class="slid__content grid">
                    <div class="img__container">
                      <img
                        src="assets/images/IMG_2.webp"
                        alt=""
                        class="slid__img"
                      />
                    </div>
                  </div>
                </ng-template>
                <!-- ======= ========== slid 3 ==================== -->
                <ng-template swiperSlide>
                  <div class="slid__content grid">
                    <div class="img__container">
                      <img
                        src="assets/images/IMG_2.webp"
                        alt=""
                        class="slid__img"
                      />
                    </div>
                  </div>
                </ng-template>
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                  <i class="uil uil-angle-right-b swiper-slid-icon"></i>
                </div>
                <div class="swiper-button-prev">
                  <i class="uil uil-angle-left-b swiper-slid-icon"></i>
                </div>
              </swiper>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--==================== prices  ====================-->

    <section class="section" id="prices">
      <h2 class="section__title">Prices</h2>
      <span class="section__subtitle"></span>
      <div class="about__container container grid">
        <img src="assets/images/IMG_1.jpg" alt="" class="about__img" />
        <div class="form__container">
          <!-- select  -->
          <form [formGroup]="form" (change)="calculatePrice()">
            <div class="field__container">
              <label class="field__label" for="style">
                Select the portrait size</label
              >
              <select class="select__style" formControlName="style">
                <option *ngFor="let style of styles" [ngValue]="style">
                  {{ style.name }}
                </option>
              </select>
            </div>
            <div class="field__container">
              <label class="field__label" for="size"
                >Choose a portrait style</label
              >
              <select class="select__size" formControlName="size">
                <option *ngFor="let size of sizes" [ngValue]="size">
                  {{ size.name }}
                </option>
              </select>
            </div>
            <div class="field__container">
              <label class="field__label" for="gift">Additional Service</label>
              <br />
              <input
                class="select__gift"
                type="checkbox"
                formControlName="gift"
              /><span class="gift__text"> gift packaging</span>
            </div>
          </form>

          <div class="display__price">
            <p>{{ sizePrice }} DH</p>
          </div>
        </div>
      </div>
    </section>

    <!--==================== STEPS ====================-->
    <section class="STEPS section" id="steps">
      <h2 class="section__title">Steps</h2>
      <span class="section__subtitle"></span>
      <div class="STEPS__container container grid">
        <!-- ==================== step 1 ========== =======-->
        <div class="STEPS__content">
          <div class="STEPS__header">
            <span class="STEPS__icon">1&nbsp;</span>
            <div>
              <h1 class="STEPS_title">You make your command</h1>
              <span class="STEPS_subtitle"
                >contact us and send a photo if necessary</span
              >
            </div>
            <!-- <i class="uil uil-angle-down STEPS__arrow"></i> -->
          </div>
        </div>
        <!-- ==================== step 2 ========== =======-->

        <div class="STEPS__content">
          <div class="STEPS__header">
            <span class="STEPS__icon">2</span>
            <div>
              <h1 class="STEPS_title">Our artists use their magical talents</h1>
              <span class="STEPS_subtitle"
                >we send you the photo for your approval</span
              >
            </div>
            <!-- <i class="uil uil-angle-down STEPS__arrow"></i> -->
          </div>
        </div>
        <!-- ==================== step 3 ========== =======-->

        <div class="STEPS__content">
          <div class="STEPS__header">
            <span class="STEPS__icon">3</span>
            <div>
              <h1 class="STEPS_title">We print the photo</h1>
              <span class="STEPS_subtitle"
                >we print the photo and stretch it on a wooden stretcher</span
              >
            </div>
            <!-- <i class="uil uil-angle-down STEPS__arrow"></i> -->
          </div>
        </div>

        <!-- ==================== step 4 ========== =======-->

        <div class="STEPS__content">
          <div class="STEPS__header">
            <span class="STEPS__icon">4</span>
            <div>
              <h1 class="STEPS_title">Delivery</h1>
              <span class="STEPS_subtitle"
                >we deliver in all of morocco,The cost of delivery depends on
                the tariffs of the delivery service.
              </span>
            </div>
            <!-- <i class="uil uil-angle-down STEPS__arrow"></i> -->
          </div>
        </div>

        <!-- ==================== step 4 ========== =======-->

        <div class="STEPS__content">
          <div class="STEPS__header">
            <span class="STEPS__icon">5</span>
            <div>
              <h1 class="STEPS_title">Payment</h1>
              <span class="STEPS_subtitle"
                >We use cash on delivery or credit card
              </span>
            </div>
            <!-- <i class="uil uil-angle-down STEPS__arrow"></i> -->
          </div>
        </div>
      </div>
    </section>
    <!--==================== contact  ====================-->
    <section class="contact section" id="contactus">
      <h2 class="section__title">Contact us</h2>
      <span class="section__subtitle"></span>
      <!-- <div class="STEPS__container container grid"> -->
      <div class="contact__bg">
        <div class="contact__container container grid">
          <div class="contact__data">
            <h2 class="contact__title">You have an idea about what you want</h2>
            <p class="contact__description">
              choose your convenient messenger and order it now!
            </p>
            <a
              href="https://wa.me/212708938216" target="_blank"
              class="button button--flex button__contact button__whatsapp"
            >
              <i class="uil uil-whatsapp"></i>
              WhatsApp
            </a>
            <a
              href="https://t.me/MorArtist" target="_blank"
              class="button button--flex button__contact button__telegram"
            >
              <i class="uil uil-telegram-alt"></i>
              Telegram
            </a>
            <a
              href="mailto: morartist.contact@gmail.com" target="_blank"
              class="button button--flex button__contact button__email"
            >
              <i class="uil uil-envelope"></i>
              email
            </a>
          </div>

          <img src="assets/images/project.png" alt="" class="contact__img" />
        </div>
      </div>
    </section>
    <!--==================== TESTIMONIAL ====================-->

    <!--==================== FOOTER ====================-->
    <section id="about">
      <footer class="footer">
        <div class="footer__bg">
          <div class="footer__container  grid">
            <div>
              <h1 class="footer__title">About us</h1>

                <p class="about__us" >
                  MorArtist is a Moroccan workshop for creating and selling
                  portraits well designed by our professional artists.
                </p>
                <p class="about__us">
                  Our vision is to make the Moroccan houses more artistic by
                  creating the best portraits for decoration.
                </p>
                <p class="about__us">
                  Our mission is to make our customers joyful and satisfied by
                  our designs and quality.
                </p>
            </div>
            <ul class="footer__links">
              <li>
                <a href="#catalog" class="footer__link"> Catalog </a>
              </li>
              <li>
                <a href="#prices" class="footer__link"> Prices </a>
              </li>
              <li>
                <a href="#contactus" class="footer__link">ContactUs </a>
              </li>
            </ul>
            <div>
              <ul class="footer__socials ">
                <li><a href="https://web.facebook.com/profile.php?id=100084967522574"  target="_blank" class="footer__social">
                  <i class="uil uil-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/morartist_portraits/"  target="_blank" class="footer__social">
                  <i class="uil uil-instagram"></i>
                </a>
              </li>
                <!-- <li></li> -->
                <!-- <li><a href="" class="footer__social">
                  <i class="uil uil-twitter-alt"></i>
                </a></li> -->
              </ul>
              <div class="footer__mail">morartist.contact@gmail.com</div>
              <div class="footer__number">+212 7 08 93 82 16</div>

            </div>
              

              
              
              
          </div>
          <p class="footer__copy">&#169; MorArtist. All right reserved</p>
        </div>
      </footer>
    </section>
    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <!-- to add later -->
    <!-- <div class="language-picker-area">
  <div class="picker-label" >{{ 'choose-language' | translate }}</div>
  <select (change)="selectLanguage($event)" class="language-picker">
    <option value="en-US"> {{ 'language.english' | translate }} </option>
    <option value="fr-FR"> {{ 'language.french' | translate }} </option>
    <option value="ar-MA"> {{ 'language.arabic' | translate }} </option>
  </select>
</div>
<div class="content">
  <h1>
    {{ 'title' | translate }}
  </h1>
  <button class="info">
    {{ 'info' | translate }}
  </button>
</div> -->
  </main>
</div>
